@model IEnumerable<Category>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Categories</h2>

<table class="table">
    <tr>
        <th>Category Name</th>
        <th>Category Description</th>
    </tr>
    
    @foreach (var cat in @Model)
    {
        <tr>
            <td><a asp-controller="Category" asp-action="GetCategoryById" asp-route-id="@cat.Category_Id">@cat.Category_Name</a></td>
            <td>@cat.Category_Description</td>
        </tr>
    }
    
    
</table>


</body>
</html>